body {
    font-family: sans-serif;
    text-align: center;
    background-color: #f0f8ff;
}
@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0.2;}
}
button {
    animation: blink ls infinite;
    font-family: 'Press Start 2P', cursive;
    font-size: 7rem;
    color: black;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

button:hover {
    color: white;
}